<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserPageFilenames</key>
	<array>
		<string>My Playground.playgroundpage</string>
		<string>FCBAD8D1-EF30-4437-B74E-33E90FE1DA60.playgroundpage</string>
		<string>D7EC0D11-6351-4095-98F3-9EFEE5548AEA.playgroundpage</string>
		<string>762D7D41-92D7-44C0-ACDC-500E641850AC.playgroundpage</string>
	</array>
</dict>
</plist>
